In [2]:
library(tidyverse);
y <- 25
y

[1] 25

In [3]:
y = 25
y

[1] 25

In [4]:
y <<-25
y

[1] 25

In [5]:
print("He said, /“I’m Garth Marenghi. Author. Dreamweaver. Visionary. Plus actor./”)

ERROR: Error in parse(text = input): <text>:1:7: unexpected INCOMPLETE_STRING
1: print("He said, /“I’m Garth Marenghi. Author. Dreamweaver. Visionary. Plus actor./”)
          ^

In [6]:
print("He said, “I’m Garth Marenghi. Author. Dreamweaver. Visionary. Plus actor.”")

[1] "He said, “I’m Garth Marenghi. Author. Dreamweaver. Visionary. Plus actor.”"

In [11]:
cat("He said, “I’m Garth Marenghi. Author\\Dreamweaver\\Visionary. Plus actor.”")

He said, “I’m Garth Marenghi. Author\Dreamweaver\Visionary. Plus actor.”

In [12]:
arr() = 1 . 2 . 3
arr()

ERROR: Error in parse(text = input): <text>:1:11: unexpected symbol
1: arr() = 1 .
              ^

In [17]:
arr1 <- array(1:2:3)
arr1

Warning message in 1:2:3:
"numerical expression has 2 elements: only the first used"

[1] 1 2 3

In [18]:
arr1 <- array(1:2:3)
arr1

Warning message in 1:2:3:
"numerical expression has 2 elements: only the first used"

[1] 1 2 3

In [19]:
arr <- array(1:3)
arr

[1] 1 2 3

In [20]:
arr = arrary(1:3)
arr

ERROR: Error in arrary(1:3): could not find function "arrary"

In [21]:
arr = array(1:3)
arr

[1] 1 2 3

In [22]:
pythagorean_c2 <- function(a, b) {
    return( (a*a) + (b*b) );}

In [23]:
pythagorean_c2 <- function(a, b) {
    return( (a*a) + (b*b) );}
pythagorean_c2(3,4)

[1] 25

In [24]:
?sin

Trig                   package:base                    R Documentation

_T_r_i_g_o_n_o_m_e_t_r_i_c _F_u_n_c_t_i_o_n_s

_D_e_s_c_r_i_p_t_i_o_n:

     These functions give the obvious trigonometric functions.  They
     respectively compute the cosine, sine, tangent, arc-cosine,
     arc-sine, arc-tangent, and the two-argument arc-tangent.

     'cospi(x)', 'sinpi(x)', and 'tanpi(x)', compute 'cos(pi*x)',
     'sin(pi*x)', and 'tan(pi*x)'.

_U_s_a_g_e:

     cos(x)
     sin(x)
     tan(x)

     acos(x)
     asin(x)
     atan(x)
     atan2(y, x)

     cospi(x)
     sinpi(x)
     tanpi(x)

_A_r_g_u_m_e_n_t_s:

    x, y: numeric or complex vectors.

_D_e_t_a_i_l_s:

     The arc-tangent of two arguments 'atan2(y, x)' returns the angle
     between the x-axis and the vector from the origin to (x, y), i.e.,
     for positive arguments 'atan2(y, x) == atan(y/x)'.

     Angles are in radians, not degrees, for the standard versions
     (i.e., a right angle is pi/2), and in 'half-rotations' for 'cospi'
     etc.

     'cospi(x)', 'sinpi(x)', and 'tanpi(x)' are accurate for 'x' values
     which are multiples of a half.

     All except 'atan2' are internal generic primitive functions:
     methods can be defined for them individually or via the 'Math'
     group generic.

     These are all wrappers to system calls of the same name (with
     prefix 'c' for complex arguments) where available.  ('cospi',
     'sinpi', and 'tanpi' are part of a C11 extension and provided by
     e.g. macOS and Solaris: where not yet available call to 'cos'
     _etc_ are used, with special cases for multiples of a half.)

_V_a_l_u_e:

     'tanpi(0.5)' is 'NaN'.  Similarly for other inputs with fractional
     part '0.5'.

_C_o_m_p_l_e_x _v_a_l_u_e_s:

     For the inverse trigonometric functions, branch cuts are defined
     as in Abramowitz and Stegun, figure 4.4, page 79.

     For 'asin' and 'acos', there are two cuts, both along the real
     axis: (-Inf, -1] and [1, Inf).

     For 'atan' there are two cuts, both along the pure imaginary axis:
     (-1i*Inf, -1i] and [1i, 1i*Inf).

     The behaviour actually on the cuts follows the C99 standard which
     requires continuity coming round the endpoint in a
     counter-clockwise direction.

     Complex arguments for 'cospi', 'sinpi', and 'tanpi' are not yet
     implemented, and they are a 'future direction' of ISO/IEC TS
     18661-4.

_S_4 _m_e_t_h_o_d_s:

     All except 'atan2' are S4 generic functions: methods can be
     defined for them individually or via the 'Math' group generic.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

     Abramowitz, M. and Stegun, I. A. (1972). _Handbook of Mathematical
     Functions_. New York: Dover.
     Chapter 4. Elementary Transcendental Functions: Logarithmic,
     Exponential, Circular and Hyperbolic Functions

     For 'cospi', 'sinpi', and 'tanpi' the C11 extension ISO/IEC TS
     18661-4:2015 (draft at
     <https://www.open-std.org/jtc1/sc22/wg14/www/docs/n1950.pdf>).

_E_x_a_m_p_l_e_s:

     x <- seq(-3, 7, by = 1/8)
     tx <- cbind(x, cos(pi*x), cospi(x), sin(pi*x), sinpi(x),
                    tan(pi*x), tanpi(x), deparse.level=2)
     op <- options(digits = 4, width = 90) # for nice formatting
     head(tx)
     tx[ (x %% 1) %in% c(0, 0.5) ,]
     options(op)

In [25]:
counter1 <- function(start, step){
val <- start;
function(){
old_val <- val;
val <- val + step;
old_val;
}
}
counter_from_1 <- counter1(1,1);
counter_from_1()

[1] 1

In [26]:
counter2 <- function(start, step){
val <- start;
function(){
old_val <- val;
val <<- val + step;
old_val;
}
}
counter_from_1 <- counter2(1,1);
counter_from_1()

[1] 1

In [27]:
import pandas as pd

ERROR: Error in parse(text = input): <text>:1:8: unexpected symbol
1: import pandas
           ^

In [28]:
import pandas as pd

ERROR: Error in parse(text = input): <text>:1:8: unexpected symbol
1: import pandas
           ^

In [29]:
cars <- read_csv("cars.csv")

ERROR: Error: 'cars.csv' does not exist in current working directory ('C:/Users/Sara').

In [30]:
library(tidyverse)
cars <- read_csv("cars.csv")

ERROR: Error: 'cars.csv' does not exist in current working directory ('C:/Users/Sara').

In [31]:
setwd("C:/Users/Sara/bios512")
cars <- read_csv("cars.csv")

Rows: 36 Columns: 5
── Column specification ────────────────────────────────────────
Delimiter: ","
chr (2): Make, Model
dbl (3): Volume, Weight, CO2

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [32]:
cars_summary <- %>%
    group_by(Make) %>%
    summarise(across(c(Volume, Weight, CO2), mean, na.rm = TRUE)) %>%
    arrange(desc(Volume))

ERROR: Error in parse(text = input): <text>:1:17: unexpected SPECIAL
1: cars_summary <- %>%
                    ^

In [33]:
library(tidyverse)  

cars_summary <- cars %>%                            
  group_by(Make) %>%                                
  summarise(across(c(Volume, Weight, CO2), mean, na.rm = TRUE)) %>%  
  arrange(desc(Volume))                            

cars_summary

Warning message:
"There was 1 warning in `summarise()`.
ℹ In argument: `across(c(Volume, Weight, CO2), mean, na.rm =
  TRUE)`.
ℹ In group 1: `Make = "Audi"`.
Caused by warning:
! The `...` argument of `across()` is deprecated as of dplyr
  1.1.0.
Supply arguments directly to `.fns` through an anonymous
function instead.

  # Previously
  across(a:b, mean, na.rm = TRUE)

  # Now
  across(a:b, \(x) mean(x, na.rm = TRUE))"

   Make       Volume   Weight   CO2
1  Mazda      2200.000 1280.000 104.0000
2  Mercedes   1940.000 1439.000 105.6000
3  Audi       1866.667 1455.000 105.6667
4  Volvo      1866.667 1561.333 108.3333
5  BMW        1733.333 1486.667 107.0000
6  Opel       1733.333 1387.667 101.6667
7  Honda      1600.000 1252.000  94.0000
8  Hundai     1600.000 1326.000  97.0000
9  Ford       1540.000 1274.200 100.0000
10 Mini       1500.000 1140.000 105.0000
11 Skoda      1400.000 1143.000  97.0000
12 Suzuki     1300.000  990.000 101.0000
13 Mitsubishi 1200.000 1160.000  95.0000
14 Hyundai    1100.000  980.000  99.0000
15 Toyoty     1000.000  790.000  99.0000
16 VW         1000.000  929.000 105.0000
17 Fiat        900.000  865.000  90.0000

In [34]:
library(tidyverse)

cars_summary <- cars %>%
  group_by(Make) %>%
  summarise(across(c(Volume, Weight, CO2), \(x) mean(x, na.rm = TRUE))) %>%
  arrange(desc(Volume))

cars_summary

   Make       Volume   Weight   CO2
1  Mazda      2200.000 1280.000 104.0000
2  Mercedes   1940.000 1439.000 105.6000
3  Audi       1866.667 1455.000 105.6667
4  Volvo      1866.667 1561.333 108.3333
5  BMW        1733.333 1486.667 107.0000
6  Opel       1733.333 1387.667 101.6667
7  Honda      1600.000 1252.000  94.0000
8  Hundai     1600.000 1326.000  97.0000
9  Ford       1540.000 1274.200 100.0000
10 Mini       1500.000 1140.000 105.0000
11 Skoda      1400.000 1143.000  97.0000
12 Suzuki     1300.000  990.000 101.0000
13 Mitsubishi 1200.000 1160.000  95.0000
14 Hyundai    1100.000  980.000  99.0000
15 Toyoty     1000.000  790.000  99.0000
16 VW         1000.000  929.000 105.0000
17 Fiat        900.000  865.000  90.0000

In [36]:
fibonacci <- function(start, ){
val <- start;
function(){
old_val <- val;
val <<- val + next;
old_val;
}
}
fibonacci_trial <- fibonacci(0,1);
fibonacci_trial()

ERROR: Error in parse(text = input): <text>:1:30: unexpected 'next'
1: fibonacci <- function(start, next
                                 ^

In [37]:
fibonacci <- function(start, following){
val <- start;
function(){
old_val <- val;
val <<- val + following;
old_val;
}
}
fibonacci_trial <- fibonacci(0,1);
fibonacci_trial()

[1] 0

In [40]:
fibonacci <- function(start, following){
val <- start;
function(){
old_val <- val;
val <<- val + following;
following <<- old_val
old_val;
}
}
fibonacci_trial <- fibonacci(0,1);
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()

ERROR: Error in parse(text = input): <text>:3:18: unexpected numeric constant
2: val <- start;
3: following <- int 1
                    ^

In [41]:
fibonacci <- function(start, following){
val <- start;
function(){
old_val <- val;
val <<- val + following;
following <<- old_val
old_val;
}
}
fibonacci_trial <- fibonacci(0,1);
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()
fibonacci_trial()

[1] 0

[1] 1

[1] 1

[1] 2

[1] 3

[1] 5

[1] 8

[1] 13